body {
    margin: 0;
    padding: 0;
}

#demo-digit-recognizer {
    background-color: transparent;
    font-size: 51px;
    font-family: Georgia, serif;
    border-radius: 14px;
}

#what-i-understood {
    background-color: transparent;
}

#what-i-understood-label {
    background-color: transparent;
    font-size: 28px;
}

#your-number-is {
    background-color: transparent;
    font-size: 57px;
}

#confidence-score {
    background-color: transparent;
    font-size: 28px;
}

#drawHere {
    background-color: #000000;
    border: none;
}

#draw-your-number-here {
    background-color: transparent;
    font-size: 52px;
    font-family: 'Helvetica Neue', sans-serif;
}

#clear {
    background-color: #62a0ea;
    border: none;
    color: #ffffff;
}

#recognize {
    background-color: #26a269;
    border: none;
    color: #ffffff;
}